#root {
  margin: 0 auto;
  position: relative;
  text-align: center;
}

.container {
  max-width: 1200px;
}

.container button {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
}

.container canvas {
  position: absolute;
  left: 50%;
  top: 0;
  transform: translateX(-50%);
  width: 100%;
  z-index: 1;
}

.container video {
  border: 1px solid rgb(17, 17, 17);
  max-width: 100%;
  pointer-events: none;
  width: 1200px;
}

.container .options div {
  display: inline-block;
  margin: 5px;
}
